[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "extern/ImGui"]
	path = extern/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/DuckX"]
	path = extern/DuckX
	url = https://github.com/amiremohamadi/DuckX.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
